// Font
$font-family-sans-serif: "Poppins";

$primary: #3497f3;
$secondary: #292f47;
$gray-600: #9499ad;
$h1-font-size: 90px;
$h2-font-size: 56px;
$h3-font-size: 42px;
$h4-font-size: 24px;
$lead-font-size: 20px;
$link-decoration: none;

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1110px,
);

:root {
  --primary-light: #ecf5fe
}
