html > body {
  h1 {
    font-weight: 600;
    font-size: 90px !important;
    line-height: 87px !important;
    @include media-breakpoint-down(md) {
      font-size: 48px !important;
      line-height: 47px !important;
    }
  }

  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}

.hero {
  padding-bottom: 50px;
  padding-top: 100px;
  @include media-breakpoint-down(md) {
    padding-bottom: 25px;
    padding-top: 50px;
  }
}
// Industry filters
.industryFilters {
  width: 100%;
  margin-top: 100px;
  &Item {
    padding: 15px;
    background: transparent;
    color: #292f47;
    font-size: 18px;
    line-height: 42px;
    flex: 1 1 auto;
    position: relative;
    &:not(.active) {
      border: 1px solid #e5e5e5 !important;
    }
    &:not(.active):hover {
      border: 1px solid #000 !important;
    }
    &.active {
      background-color: #3497f3;
      box-shadow: 12px 12px 0 0 #181d33 !important;
      border: 0;
      color: #fff;
      font-weight: 600;
      left: -12px;
      bottom: 12px;
    }
  }
}
.industryFiltersMobile {
  &Mainbtn {
    height: 60px;
    width: 100%;
    background: #359bfa;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    &Arrow {
      position: absolute;
      right: 15px;
      top: 25px;
    }
  }
  &Item {
    font-size: 18px;
    line-height: 42px;
    width: 100%;
    background: none;
    border: 1px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &__mainbtn[aria-expanded="true"] {
    .industryFiltersMobile__mainbtn__arrow {
      transform: rotate(180deg);
    }
  }
}

// Service filters
.serviceFiltersBtn {
  background-color: transparent;
  color: #292f47;
  font-size: 20px;
  &:after {
    display: none;
  }
}
