.content {
  ul,
  ol {
    font-weight: 400;
  }
  h3 {
    font-weight: 600;
    color: var(--bs-primary);
    margin-bottom: 20px;

    span {
      color: initial !important;
      font-weight: normal;
    }
  }
}

.narrow {
  max-width: 630px;
}
