.industry_filters {
  width: 100%;
  margin-top: 100px;
  &__item {
    padding: 15px;
    background: transparent;
    color: #292f47;
    font-size: 18px;
    line-height: 42px;
    flex: 1 1 auto;
    position: relative;
    &:not(.active) {
      border: 1px solid #e5e5e5 !important;
    }
    &:not(.active):hover {
      border: 1px solid #000 !important;
    }
    &__active {
      background-color: #3497f3;
      box-shadow: 12px 12px 0 0 #181d33 !important;
      border: 0;
      color: #fff;
      font-weight: 600;
      left: -12px;
      bottom: 12px;
    }
  }
}
.industry_filters_mobile {
  &__mainbtn {
    height: 60px;
    width: 100%;
    background: #359bfa;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    &__arrow {
      position: absolute;
      right: 15px;
      top: 25px;
    }
  }
  &__item {
    font-size: 18px;
    line-height: 42px;
    width: 100%;
    background: none;
    border: 1px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &__mainbtn[aria-expanded="true"] {
    .industry_filters_mobile__mainbtn__arrow {
      transform: rotate(180deg);
    }
  }
}
