.navItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 42px;
  color: #7e87a8;
  padding: 15px 0;
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
  &:last-child {
    padding-bottom: 0;
  }
  .image {
    display: none;
    max-width: 26px;
    max-height: 28px;
    margin-right: 20px;
  }
}

.activeItem {
  color: var(--bs-primary);
  font-weight: bold;
  .image {
    display: block;
  }
}

.dark {
  color: #b4dbff;
  &.activeItem {
    color: #fff;
  }
}
